/* !important est nécessaire pour écraser le CSS inséré par le javascript de fullcalendar */
#event, #form_event{
    padding: 5px;
    border: 2px double;
    border-radius: 5px;
    max-width: 250px;
}
#calendar_zone{
    display: flex;
    gap: 5px;
    max-width: 1170px;
}
#calendar{
    width: 1165px; /* on enlève le "gap" */
}
.event_title_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event_close_button{
    /*height: fit-content;*/
}
.fc-toolbar-title{
    /*font-size: x-large !important;*/
}
.fc-button{
    padding: 0.2em 0.4em !important;
}
td .fc-timegrid-axis{
    font-size: small;
    text-align: center;
}
.fc-day-other{
    background-color: #f0f0f0;
}
.fc-daygrid-day:not(.fc-day-other, .fc-day-today){
    background-color: #ffffff;
}

.fc-daygrid-day-top{
    justify-content: center;
}
.fc-day-today .fc-daygrid-day-number{ /* vue mois */
    color: white;
    background-color: #00679e;
    border-radius: 5px;
    height: 27px;
    aspect-ratio: 1 / 1;
    text-align: center;
}
.fc-day-today .fc-col-header-cell-cushion{ /* vue semaine */
    color: white;
    background-color: #00679e;
    border-radius: 5px;
}

@media screen and (max-width: 1024px){
    #calendar_zone{
        padding: 0;
    }
    #calendar_zone p, #event > button{
        font-size: smaller;
    }
    .fc-toolbar-title{
        /*font-size: large !important;*/
    }
    .fc-header-toolbar{
        font-size: smaller;
    }
    #event_modal{
        position: fixed;
        /* technique pour centrer un élément positionné */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    #event_modal > div{
        background-color: #e3f3ff;
        box-shadow: 1px 1px 3px black;
    }
    #event, #form_event{
        width: 250px;
    }
}
@media screen and (max-width: 768px){
    .fc-header-toolbar{
        font-size: small;
    }
    .fc-toolbar-title{
        font-size: 1.5em !important; /* au lieu de 1.75em */
    }
}
@media screen and (max-width: 480px){}