/*-- pied de page  --*/
footer
{
	/*background-color: #279dc177;*/
	/*background-color: #13aff077;*/
	background-color: #B7E9FE;
	/*width: 1200px;*/
	margin: auto;
	/*padding: 0 20px;*/
	
}
footer > div
{
	margin: auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-around;
}
.contact a
{
	color: unset;
	border-bottom: 3px #13aff000 solid; /* bordure invisible */
}
.contact a:hover
{
	/*background-color: #fadb11;*/
	text-decoration: none;
	padding: 0 2px;
	/*background-color: #13aff0ff;
	border-bottom: 3px #fadb11 solid;*/
	background-color: yellow;
	/*border-bottom: 2px #00a8f3 solid;*/
	border-bottom: 2px #ff1d04 solid;
}

/*-- fil d'ariane --*/
.breadcrumb
{
	/*max-width: 45%;*/
	/*margin-right: 10px;*/
	/*margin: 16px 0;*/ /* = p */
	padding: 15px;
	list-style: none; /* retirer les puces */
	font-size: small;
	text-align: right;
	font-weight: bold;
}
.breadcrumb img
{
	width: 12px;
	vertical-align: middle;
}
.breadcrumb a img, .breadcrumb a span
{
	border-bottom: 2px #13aff000 solid;
}
.breadcrumb a img:hover, .breadcrumb a span:hover
{
	/*background-color: #13aff0;
	border-bottom: 3px #fadb11 solid;*/
	background-color: yellow;
	/*border-bottom: 2px #00a8f3 solid;*/
	border-bottom: 2px #ff1d04 solid;
}
/*.breadcrumb *:not(:last-child)::after
{
	content: "→";
	display: block;
	margin: 0 3px;
}*/

.contact
{
	padding: 0 15px;
}

.footer_logo img
{
	max-width: 288px;
	min-width: 150px;
}
@media screen and (max-width: 1000px)
{
	.footer .contact
	{
		width: 70px;
	}
}
@media screen and (max-width: 800px)
{
	footer > div
	{
		flex-direction: column;
		align-items: center;
	}
}

.breadcrumb a
{
	color: unset; /* ne plus hériter */
	text-decoration: none;
}

/* zone admin */
.admin_buttons_zone
{
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.admin_buttons_zone p
{
	margin: 0;
}
.logged_out
{
	/*display: none;*/
	justify-content: start;
}
.logged_out a
{
	color: black;
	text-decoration: none;
}
.empty_admin_zone
{
	height: 70px;
}
.logged_in
{
	/*height: 70px;*/
	width: 100%;
	margin: auto;
	background-color: yellow;
	position: fixed;
	bottom: 0px;
	z-index: 1; /* augmenter la valeur si nécessaire */
}
.logged_in button
{
	margin-left: 5px;
	color: #ff1d04;
	font-size: medium;
	border: lightgrey 2px outset;
	border-radius: 4px;
	background-color: white;
	margin: 2px;
}
.logged_in button:hover
{
	cursor: pointer; /* curseur qui touche du doigt */
	background-color: yellow;
	border-radius: 4px;
}
.modif_mode
{
	background-color: #ffae1a; /* orange clair soupe de poisson */
}


.toast {
    visibility: hidden;
    /*max-width: 50%;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    /*opacity: 0;*/
    transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
    visibility: visible;
    opacity: 1;
}