header
{
	text-align: center;
	/*padding-top: 5px;*/
	/*padding-bottom: 10px;*/
	background-size: cover; /* largeur du bloc_page  */
}
#nav_zone
{
	/*margin: auto;*/
	/*max-width: 1200px;*/
	display: flex;
	/*align-items: center;*/ /* conflit possible avec .social align-self */
	justify-content: center;
}
.nav_button{
	display: none;
}

.background_button
{
	max-height: 24px;
}

.header_content
{
	padding: 20px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: end;
}
/*.header_left_col
{}*/
@media screen and (max-width: 1000px){
	.header_content{
		padding: 18px 0;
	}
}
@media screen and (max-width: 450px){
	.header_content
	{
		/*grid-template-columns: 1fr 2fr 1fr;*/
		display: block;
		padding: 18px;
	}
	#header_logo
	{
		display: none;
	}
}

.header_center_col
{
	background-color: #ffffff7f;
	border-radius: 10px;
}
header h1
{
	font-size: x-large;
	margin: 10px;
}
header h2
{
	font-size: medium; /* défaut = x-large */
	margin: 10px;
}
@media screen and (max-width: 1000px){
	header h1, header h2
	{
		margin: 8px;
	}
}
header img
{
	vertical-align: bottom; /* supprime espace sous l'image */
	max-width: 150px;
	max-height: 100px;
}
header a
{
	color: unset; /* ne plus hériter */
	text-decoration: none;
}
/*.header_right_col
{}*/
#header_social img
{
	width: 28px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
}
#header_social img:hover
{
	background-color: yellow;
}