header
{
	text-align: center;
	/*padding-top: 5px;*/
	/*padding-bottom: 10px;*/
	background-size: cover; /* largeur du bloc_page  */
}
#nav_zone
{
	/*margin: auto;*/
	/*max-width: 1200px;*/
	display: flex;
	/*align-items: center;*/ /* conflit possible avec .social align-self */
	justify-content: center;
}
.nav_button{
	display: none;
}

.header-content
{
	padding: 20px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: end;
}
@media screen and (max-width: 1000px){
	.header-content{
		padding: 18px 0;
	}
}
@media screen and (max-width: 450px){
	.header-content
	{
		/*grid-template-columns: 1fr 2fr 1fr;*/
		display: block;
		padding: 18px;
	}
	.head_logo
	{
		display: none;
	}
}

.site_title
{
	background-color: #ffffff7f;
	border-radius: 10px;
}
header h1
{
	font-size: x-large;
	margin: 10px;
}
header h2
{
	font-size: medium; /* défaut = x-large */
	margin: 10px;
}
@media screen and (max-width: 1000px){
	header h1, header h2
	{
		margin: 8px;
	}
}
header img
{
	vertical-align: bottom; /* supprime espace sous l'image */
	max-width: 150px;
	max-height: 75px;
}
header a
{
	color: unset; /* ne plus hériter */
	text-decoration: none;
}
.social
{
	/*align-self: end;*/
	/*padding: 4px;*/
}
.social img
{
	width: 25px;
	background-color: #ffffffb3;
	border-radius: 50%;
}

.social img:hover
{
	background-color: yellow;
}
