.maintenance .basic_div
{
	margin-top: 8px;
}
.maintenance p, .maintenance form
{
	margin: 10px 0;
}
.maintenance #log_table h4
{
	margin-top: 10px;
	margin-bottom: 4px;
}
.maintenance table
{
	border-collapse: collapse;
	font-size: smaller;
}
.maintenance table th, .maintenance table td
{
	border: 1px black solid;
}
.maintenance select, .maintenance input[type="file"]::file-selector-button
{
	color: #ff1d04;
	font-size: medium;
	border-radius: 4px;
	background-color: white;
	border: lightgrey 2px outset;
}