/* -- mode modification d'une page -- */
.page_modification
{
	background-color: white;
	padding: 10px;
	margin: 10px 15px;
}
.page_modification select, .page_modification input[type=submit]
{
	color: #ff1d04;
	font-size: medium;
	border-radius: 4px;
	background-color: white;
	border: lightgrey 2px outset;
}
/*.page_modification select:hover
{
	cursor: pointer;
}*/
.page_modification input[type=submit]:hover
{
	background-color: yellow;
	border-radius: 4px;
	cursor: pointer;
}
.edit_page_title_zone
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.edit_page_zone, .edit_block_zone, .delete_page_zone
{
	background-color: #f0f0f0f0;
	margin: 8px 5px;
	padding: 10px;
}
#edit_description
{
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
}
#edit_description button
{
	vertical-align: top;
}
.edit_block_zone
{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.edit_page_zone p, .edit_block_zone p, .edit_page_zone form
{
	margin: 5px;
}

.new_block #bloc_title
{
	width: 70%;
	max-width: 300px;
}

.modify_block img
{
	vertical-align: middle;
}
.delete_page_zone
{
	text-align: center;
}
.modify_one_block
{
	background-color: white;
	margin: 8px 0;
	padding: 5px;
}
.modify_one_block > *
{
	/*text-wrap: nowrap;*/
}
.modify_one_block > div
{
	display: flex;
	align-items: center;
}
.block_options
{
	flex-wrap: wrap;
}
.block_options > div /* bloc boutons flèches et supprimer */
{
	display: flex;
}
.block_options > *
{
	text-wrap: nowrap;
	align-items: center;
}
.grid_options
{
	/*text-wrap: nowrap;*/ /* saut de la div grid_options */
	flex-wrap: wrap; /* éléments à l'intérieur de grid_options lorsque lui-même dépasse la largeur dispo (téléphone) */
}