# désactive tout traitement par le handler apache (PHP, CGI, etc.)
SetHandler None

# scripts CGI (perl, python)
# complète le blocage du handler apache
Options -ExecCGI
# (php qui utilise mod_php (module apache) ou php-fpm (fastCGI) n'est pas concerné par cette règle)

# exploration des dossiers
Options -Indexes

# protection par whitelist
Require all denied
<FilesMatch "\.(jpe?g|png|gif|webp|tiff?)$">
    Require all granted
</FilesMatch>


## moins utile

# interdire l'accès direct aux fichiers .htaccess et .htpasswd (déjà bloqués normallement)
<FilesMatch "^\.(htaccess|htpasswd)$">
    Require all denied
</FilesMatch>